<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <WindowsPackageType>None</WindowsPackageType>
    <WindowsAppSDKSelfContained>true</WindowsAppSDKSelfContained>
    <UseWinUI>true</UseWinUI>
    <PublishTrimmed>false</PublishTrimmed>
    <PublishAot>false</PublishAot>
    <PublishReadyToRun>false</PublishReadyToRun>
    <DebugSymbols>false</DebugSymbols>
    <DebugType>None</DebugType>
    <RestoreLockedMode>true</RestoreLockedMode>
  </PropertyGroup>
</Project>
