{% extends "layout.njk" %}

{% set page_title = "Error " ~ status %}

{% block content %}
  <div class="error-box">
    <p class="error-status">{{ status }}</p>
    <p>{{ message }}</p>
  </div>
{% endblock %}
