{% set noteFormModel = noteCreateForm %}
{% set noteDialogId = 'note-create-dialog' %}
{% set noteDialogTitle = 'New Page' %}
{% set noteDialogOpen = noteCreateDialogOpen %}
{% include "notes/form.njk" %}
